{% extends "aeduz_base.html" %}

{% block title %}AeduZ | Booking {% endblock title %}
{% block style %}

{% load static %} 
{% load socialaccount %}
<link rel="stylesheet" href="{% static 'css/book_form.css'%}">
{% endblock style %}
{% block content %}

<div class="container my-4" >
    

            <div class="frame p-4" style="border-radius: 20px;"  >
                <div class="nav1">
                    <ul class="links">
                        <li class="signin-active"><a class="btn">Select Date and Timeslot </a></li>
                    </ul>
                </div>
        
                <div ng-app ng-init="checked = false">
                    <form class="form-signin "  action="" method="post" name="form">
                        {% csrf_token %}
                        <label for="email">Email ID</label>
                        <input class="form-styling" type="email" name="email" name="email" value="{{ user.email }}" readonly>
        
                        <label for="date">Appointment Date</label>
                        <input class="form-styling" type="date" name="date" required placeholder=""/>
        
                        <label for="time">Appointment Time Slots</label>
                        <select id="time" name="timeslot" class="form-styling" required>
                            <option value="">Select a time slot</option>
                            <option value="12:00 PM - 12:30 PM">12:00 PM - 12:30 PM</option>
        <option value="12:30 PM - 1:00 PM">12:30 PM - 1:00 PM</option>
        <option value="1:00 PM - 1:30 PM">1:00 PM - 1:30 PM</option>
        <option value="1:30 PM - 2:00 PM">1:30 PM - 2:00 PM</option>
        <option value="2:00 PM - 2:30 PM">2:00 PM - 2:30 PM</option>
        <option value="2:30 PM - 3:00 PM">2:30 PM - 3:00 PM</option>
        <option value="3:00 PM - 3:30 PM">3:00 PM - 3:30 PM</option>
        <option value="3:30 PM - 4:00 PM">3:30 PM - 4:00 PM</option>
        <option value="4:00 PM - 4:30 PM">4:00 PM - 4:30 PM</option>
        <option value="4:30 PM - 5:00 PM">4:30 PM - 5:00 PM</option>
        <option value="5:00 PM - 5:30 PM">5:00 PM - 5:30 PM</option>
        <option value="5:30 PM - 6:00 PM">5:30 PM - 6:00 PM</option>
        <option value="6:00 PM - 6:30 PM">6:00 PM - 6:30 PM</option>
        <option value="6:30 PM - 7:00 PM">6:30 PM - 7:00 PM</option>
        <option value="7:00 PM - 7:30 PM">7:00 PM - 7:30 PM</option>
        <option value="7:30 PM - 8:00 PM">7:30 PM - 8:00 PM</option>
        <option value="8:00 PM - 8:30 PM">8:00 PM - 8:30 PM</option>
        <option value="8:30 PM - 9:00 PM">8:30 PM - 9:00 PM</option>
        <option value="9:00 PM - 9:30 PM">9:00 PM - 9:30 PM</option>
        <option value="9:30 PM - 10:00 PM">9:30 PM - 10:00 PM</option>
        <option value="10:00 PM - 10:30 PM">10:00 PM - 10:30 PM</option>
        <option value="10:30 PM - 11:00 PM">10:30 PM - 11:00 PM</option>
        <option value="11:00 PM - 11:30 PM">11:00 PM - 11:30 PM</option>
        
                            <!-- Add more time slots as needed -->
                        </select>
        
                        <button class="btn-animate" type="submit" style="text-decoration: none;" >Book Now</button>
                    </form>
              
  
    </div>

</div>
    

{% endblock content %}