{% extends "aeduz_base.html" %}


{% block title %}AeduZ | Dashboard {% endblock title %}


{% block content %} 



{% if mentee_update %}
<div class="alert alert-success alert-dismissible fade show " role="alert">
    <strong>To book a session, please update your profile first !</strong> 
    <button type="button" class="btn btn-primary btn-lg" data-bs-toggle= "modal" data-bs-target = "#staticBackdrop_update">
        Update Profile
      </button> </strong> 
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endif %}

<section class="fdb-block">
    <div class="container">
        <div class="row align-items-center">
            {% if is_mentor %}
                {% if mentor_info.verified %}
                    <p style="font-size: 22px;">Welcome Mentor</p>
                    <h1 style="color: rgb(35 127 83);">{{ mentor_info.name }}</h1>
                {% else %}
                    <h1 style="color: rgb(127, 35, 35);">Not verified {{ mentor_info.name }}</h1>
                {% endif %}
            {% elif is_institute %}
                {% if institute_info.verified %}
                    <p style="font-size: 22px;">Welcome Institution</p>
                    <h1 style="color: rgb(35 127 83);">{{ institute_info.name }}</h1>
                {% else %}
                    <h1 style="color: rgb(127, 35, 35);">Not verified {{ institute_info.name }}</h1>
                {% endif %}
                
            {% elif mentee_update %}

            <div class="col-md-3 p-2" style='border:2px red solid;border-radius: 10px;'>
                <div class="mb-3">
                    <h4>Name</h4>
                    <p> -   </p>
                </div>
                <div class="mb-3">
                    <h4>Email address</h4>
                    <p>{{user.email}}</p>
                </div>
                <div class="mb-3">
                    <h4>Contact</h4>
                    <p> - </p>
                </div>
                <div class="mb-3">
                    <h4>Exam Year</h4>
                    <p> - </p>
                </div>
            </div>

            
            
            {% else %}

            <div class="col-md-3 offset-md-3 p-2" style='box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);border-radius: 10px;' id="profileInfo">
                <div class="mb-3">
                    <h4>Name</h4>
                    <p>{{mentee_info.name}}</p>
                </div>
                <div class="mb-3">
                    <h4>Email address</h4>
                    <p>{{user.email}}</p>
                </div>
                <div class="mb-3">
                    <h4>Contact</h4>
                    <p>{{mentee_info.contact}}</p>
                </div>
                <div class="mb-3">
                    <h4>Coaching Name</h4>
                    <p>{{mentee_info.coaching}}</p>
                </div>
                <div class="mb-3">
                    <h4>Exam Year</h4>
                    <p>{{mentee_info.year_of_study}}</p>
                </div>
                <button type="button" id="updateProfileBtn" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#staticBackdrop_update">
                    Update Profile
                </button> 
            </div>
            
            
            <!-- <div class="col-md-3 offset-md-3 p-2" style='border:2px red solid;border-radius: 10px;' id="profileInfo">
                
                <div class="mb-3">
                    <h4>Name</h4>
                    <p> {{mentee_info.name}}</p>
                </div>
                <div class="mb-3">
                    <h4>Email address</h4>
                    <p>{{user.email}}</p>
                </div>
                <div class="mb-3">
                    <h4>Contact</h4>
                    <p> {{mentee_info.contact}} </p>
                </div>
                <div class="mb-3">
                    <h4>Coaching Name</h4>
                    <p> {{mentee_info.coaching}} </p>
                </div>
                <div class="mb-3">
                    <h4>Exam Year</h4>
                    <p> {{mentee_info.year_of_study}} </p>
                </div>
                <button type="button" id="updateProfileBtn" class="btn btn-primary btn-lg" data-bs-toggle= "modal" data-bs-target = "#staticBackdrop_update">
                    Update Profile
                  </button> 
            </div> -->

            <script>
                document.getElementById("profileInfo").addEventListener("click", function() {
                    document.getElementById("updateProfileBtn").click();
                });
            </script>

            <div class="col-md-3">
                <center>

                    <a  href="/book" type="button"  class="btn btn-primary btn-lg m-4" style="background-color: rgb(58, 93, 93);" >
                        Book 1:1 session
                    </a> 
                </center>
            </div>
            

            <div class="container my-3">
                <center>

                    <h2>Appointments Dashboard</h2>
                </center>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Time Slot</th>
                            <th>payment Completed</th>
                            <th>Meet Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for appointment in appointments %}
                        <tr>
                            <td>{{ appointment.date }}</td>
                            <td>{{ appointment.timeslot }}</td>
                            <td>{% if appointment.completed %}
                                Yes
                                
                                {% else %}
                                <form  action='orderpayment' method="post">
                                    {% csrf_token %}
                                    <input type="hidden" id="order_id" name="order_id" value="{{ appointment.order_id }}">
                                    <button class="btn btn-success" type="submit">Pay Now!</button>
                                </form>
                                
                                {% endif %}</td>

                                <td>
                                    {% if appointment.meet_link %}
                                      <a href="{{ appointment.meet_link }}" class="btn btn-primary" style="background-color: rgb(0, 128, 255);" target="_blank">Join Meeting</a>
                                    {% else %}
                                      <button class="btn btn-secondary disabled" type="button">Updated Soon!</button>
                                    {% endif %}
                                  </td>
                            <!-- <td>{% if appointment.meet_link %}{{appointment.meet_link}}{% else %}Updated soon !{% endif %}</td> -->
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            {% endif %}
        </div>
    </div>
</section>
<section class="">
  <div class="container">
    <div class="row align-items-center">
        <div class="col-12 col-md-12 col-lg-6 col-xl-5">
            {% if is_mentor %}
            <p style="font-size: 22px;">Welcome {{ name }}</p>
            <h1 style="color: rgb(35 127 83);">Mentor</h1>
            {% elif is_institute %}
            <p style="font-size: 22px;">Welcome {{ name }}</p>
            <h1 style="color: rgb(35 127 83);">Institutions</h1>
            {% endif %}
        </div>

      {% comment %} <div class="col-12 col-md-8 m-auto ml-lg-auto mr-lg-0 col-lg-6 pt-5 pt-lg-0">
        <img alt="image" class="img-fluid" src="{% static 'insti.png'%}">
      </div> {% endcomment %}
    </div>
  </div>
</section>




  </section>
  <!-- Section -->
  


<!-- update form Modals-->


<div class="modal fade text-black" id="staticBackdrop_update" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Register</h5>
        </div>
        <div class="modal-body">
          <form action="/mentee_reg" method="post"> {% csrf_token %}

            <div class="mb-3">
                <label for="colName" class="form-label">Name</label>
                <input type="text" class="form-control" id="colName" name="name" value="{{ mentee_info.name }}" required>
            </div>
            
            <div class="mb-3">
                <label for="state" class="form-label">Personal Email ID</label>
                <input type="email" class="form-control" id="state" name="email" value="{{ user.email }}" readonly>
            </div>
            
            <div class="mb-3">
                <label for="phoneNo" class="form-label">Contact No. </label>
                <input type="number" class="form-control" id="phoneNo" name="contact" value="{{ mentee_info.contact }}" required>
            </div>
            
            <div class="mb-3">
                <label for="whatsNo" class="form-label">Institute (JEE Coaching)</label>
                <input type="text" class="form-control" id="whatsNo" name="coaching" value="{{ mentee_info.coaching }}" required>
            </div>
            
            <div class="mb-3">
                <label for="yearOfStudy" class="form-label">Year of Study</label>
                <select class="form-select" id="yearOfStudy" name="yearOfStudy" required>
                    <option value="11th" {% if mentee_info.year_of_study == '11th' %} selected {% endif %}>11th</option>
                    <option value="12th" {% if mentee_info.year_of_study == '12th' %} selected {% endif %}>12th</option>
                    <option value="Drop Year" {% if mentee_info.year_of_study == 'Drop Year' %} selected {% endif %}>Drop Year</option>
                </select>
            </div>
            
            <!-- <div class="mb-3">
                <label for="colName" class="form-label">Name</label>
                <input type="text" class="form-control" id="colName" name="name"  required>
            </div>
  
            <div class="mb-3">
              <label for="state" class="form-label">Personal Email ID</label>
              <input type="email" class="form-control" id="state" name="email" value="{{ user.email }}" readonly>
            </div>
  
            <div class="mb-3">
              <label for="phoneNo" class="form-label">Contact No. </label>
              <input type="number" class="form-control" id="phoneNo" name="contact"  required>
            </div>
  
            <div class="mb-3">
              <label for="whatsNo" class="form-label">Institute (JEE Coaching)</label>
              <input type="text" class="form-control" id="whatsNo" name="coaching"  required>
            </div>
  
            <div class="mb-3">
                <label for="yearOfStudy" class="form-label">Year of Study</label>
                <select class="form-select" id="yearOfStudy" name="yearOfStudy" required>
                    <option value="11th">11th</option>
                    <option value="12th">12th</option>
                    <option value="Drop Year">Drop Year </option>
                  

                </select>
            </div> -->
    
    
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success">Update</button>
          </form>
        </div>    
              
       </div>
        </div>
        </div>

{% endblock content %}