{% extends "aeduz_base.html" %}



{% block title %}
Payment Failure
{% endblock title %}


{% style %}

{% style %}



{% block content %}

<div class="text-center mt-5 pt-5">
    {% comment %} <img src="https://www.svgrepo.com/show/493668/error-circle-fail-failure-disallowed-x-cross-bad.svg" style="height: 200px;" alt="" class="img-fluid"> {% endcomment %}
    <h2 class="mt-4">
        Your Payment Failed !
    </h2>
</div>



<div id="redirectMessage" class="mt-4" style="color: blue;">Redirecting to dashboard in <span id="countdown">3</span> seconds</div>

<script>
    // Function to update countdown message
    function updateCountdown(counter) {
        document.getElementById('countdown').textContent = counter;
    }

    // Redirect to /dashboard after 3 seconds
    var counter = 3;
    var countdownInterval = setInterval(function() {
        updateCountdown(counter);
        counter--;
        if (counter === 0) {
            clearInterval(countdownInterval);
            window.location.href = "/dashboard";
        }
    }, 1000); // Update every 1 second (1000 milliseconds)
</script>
{% endblock content %}