{% extends "aeduz_base.html" %}

{% block title %} AeduZ | LogIn{% endblock title %}


{% block style  %}
{% load static %}
{% load socialaccount%}
 <style>
    .new{
        background-image: url("{% static 'img/road.jpg'%}");
        background-repeat: no-repeat;
        background-size: 100%;
        
    }
    


.img-thumbnail {
    padding: .25rem;
    background-color:transparent;
    /* backface-visibility: hidden; */
    /* border: 6px solid var(--bs-border-color); */
    border-radius: 3.375rem;
    max-width: 100%;
    height: auto;
}
 </style> 
{% endblock style %}

{% block content %}

      <div class="container mb-4 pb-4" style="color: rgb(0, 0, 0); background-color: aliceblue;">
        <div class="row">
            <div class="col-md-6 ">
                <center style="margin-top: 100px;">

                    <!-- <img src="{% static 'img/logo.png'%}" alt="not found"> -->
                    <img src="{% static 'aeduz_transparent.png'%}"  class="img-thumbnail" style="" alt="...">
                </center>
            </div>
            <div class="col-md-4 mt-4">
              
                <h4 style="" class="text-center">Log in</h4>

                <div class="d-grid gap-2 mt-3">

                    <button class="btn btn-success "><a href="{% provider_login_url 'google'%}">Log in With Google</a> </button>
                    </div>

              <center><h5 class="mb-0 my-2">OR</h5></center>

                {% for item  in messages %}
                <div class="alert alert-{{item.tags}} alert-dismissible fade show" role="alert">
                   {{item}}
                   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                   
                </div>
                {% endfor %}
                
                <form action="/login" method="post">{% csrf_token %}
                    <label class="mt-3">UserName</label>
                    <div class="form-group">
                        <input type="text" class="form-control" name="uname" required>
                    </div>
                   
                    <label class="mt-3" >Password</label>
                    <div class="form-group">
                        <input type="password" class="form-control" name="pass1" required>
                    </div>
            
                    <div class="d-grid gap-2 mt-3">
                        <button class="btn btn-dark" style="color: white;" type="submit">Log in</button>
                      </div>
                </form>
                <br>
                <p style="color: rgb(0, 0, 0) ;font-size: larger;font-weight: 500;">New User ?</p>

                <div class="d-grid gap-2 mt-3">
                  <button class="btn btn-success"><a style="text-decoration: none;" href="/signup">Sign Up</a></button>
                   
                     </div>
            </div>
        </div>
      </div>
      
      {% endblock content %}